
body{
    padding: 1.5rem;
}
.head1{
   background-image: linear-gradient(rgba(126, 213, 111,0.7),rgba(85, 197, 122,0.7),rgba(40, 180, 133,0.7)), url(hero.jpg);
   background-size: cover; 
   height: 100vh;
   clip-path: polygon(50% 0%, 100% 0, 100% 78%, 0 100%, 0 0);
}
.logo{
    width: 5rem; 
    margin-left:2rem ;
    margin-top: 2rem ;
}
.text11{
color: white;
text-transform: uppercase;
font-size: 4rem;
font-family: 'Muli', sans-serif;
letter-spacing: 0.5rem;
text-align: center;
animation: moveright 1s ;
}
@keyframes moveright{
    0%{
        opacity : 0;
        transform : translateX(-50rem)

    }
    100%{
        opacity: 1;
        transform : translateX(0)
    }
}
.text12{
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    letter-spacing: 1rem;
    text-align: center;
    animation: moveleft 1s;
}
@keyframes moveleft{
    0%{
        opacity : 0;
        transform : translateX(50rem)

    }
    100%{
        opacity: 1;
        transform : translateX(0)
    }
}
.button{
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    background-color: white;
    border: white solid 0.3rem;
    border-radius: 1.6rem ;
    text-align: center;
    width: 13rem;
    padding: 0.8rem;
    position: relative;
    left: 41.5%;
    top: 1rem;
    cursor: pointer;
    animation: moveup 2s;
    animation-delay: 50ms;
}
@keyframes moveup{
    0%{ opacity: 0;
        transform: translateY(50rem)
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
    
}
.button::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: -1;
    transition-property: all;
    transition-duration: .25s;
    
}
.button:hover::after{
   opacity: 0;
    transform: scale(1.5,1.5);
}
.head11{
    position: relative;
    top: 10%;
}
.sec1{
    background-color: rgb(250, 250, 250);
    transform: skewY(-7deg);
    margin-top: -9rem;
    height: 95vh;
}
.text2{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    text-align: center;
    position: relative;
    left: 13rem;
    top: -1rem;
    background: linear-gradient(to right,#7ed56f , #55c57a, #28b485 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: all ease-out 0.5s;
    width: 59rem;
}
.text2:hover{
    transform: skew(10deg , 5deg);
   text-shadow: 1rem 1rem 2rem rgba(128, 128, 128, 0.5);
   cursor: default;
}
.text21{
    font-size: 1.5rem;
    font-family: 'Muli', sans-serif;
    color:rgb(92, 83, 83) ;
font-weight: bold;
}
.text22{
    font-size: 1.06rem;
    color:rgb(100, 92, 92) ;
    font-family: 'Muli', sans-serif;
    text-align: left;
    width: 30rem;
}
.ph1{
    z-index: 3;
    height: 13rem;
    float: right;
    position: absolute;
    top: -16rem;
    left: 53rem;
    transition: all 0.3s ease-out; 
    box-shadow: rgba(128, 128, 128, 0.7) 1rem 1rem 5rem;
}
.ph1:hover{
    outline: solid 0.5rem seagreen ;
    outline-offset: 1rem;
    transform: scale(1.2,1.2);
    z-index: 5;
}
.ph2{
    z-index: 2;
    width:19rem;
    height: 13rem;
    float: right;
    position: absolute;
    top:-20rem;
    left: 60rem;
    transition: all 0.3s ease-out;
    box-shadow: rgba(128, 128, 128, 0.7) 1rem 1rem 5rem;
}
.ph2:hover{
    outline: solid 0.5rem seagreen ;
    outline-offset: 1rem;
    transform: scale(1.2,1.2);
    z-index: 5;
}
.ph3{
    z-index: 1;
    height: 13rem;
    float: right;
     position: absolute;
    top:-23rem;
    left: 50rem;
    transition: all 0.3s ease-out;
    box-shadow: rgba(128, 128, 128, 0.7) 1rem 1rem 5rem;
}
.ph3:hover{
   outline: solid 0.5rem seagreen ;
 outline-offset: 1rem;
 transform: scale(1.2,1.2);
 z-index: 5;
}
.img:hover img:not(:hover){
    transform: scale(0.95);
}
.learn{
    font-size: 1.3rem;
    font-family: 'Muli', sans-serif;
    padding-bottom: 0.5rem ;
    border-bottom: 0.2rem solid;
    width: 8.5rem; 
    color:  rgb(40, 180, 133);
    width: 9rem;
    height: 1.5rem;
    transition: all ease-out 0.3s;
}
.learn:hover{
    background-color: rgb(40, 180, 133);
    color: white;
}
.sec2{
    height: 100vh;
    background-image:linear-gradient(rgba(126, 213, 111,0.7),rgba(85, 197, 122,0.7),rgba(40, 180, 133,0.7)),url(mount.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -3rem;
}
.sec21{
    position: relative;
    top: 10rem;
    text-align: center;
}
.world{
    color: rgb(143, 142, 142);
    background-color: rgba(243, 235, 243, 0.842);
    display: inline-block;
    width: 17rem;
    height: 25rem;
    margin: 2rem;
     font-family: 'Lato', sans-serif;
     transition: all ease-out 0.3s;
}
.world:hover{
    transform: translate(0.125rem,-0.9375rem);
}
.nature{
    color: rgb(143, 142, 142);
    background-color: rgba(243, 235, 243, 0.842);
    display: inline-block;
    width: 17rem;
    height: 25rem;
    margin: 2rem;   
    font-family: 'Lato', sans-serif;
    transition: all ease-out 0.3s;
}
.nature:hover{
    transform: translate(0.125rem,-0.9375rem);
}
.way{
    color: rgb(143, 142, 142);
    background-color: rgba(243, 235, 243, 0.842);
    display: inline-block;
    width: 17rem;
    height: 25rem;
    margin: 2rem;
    font-family: 'Lato', sans-serif;
    transition: all ease-out 0.3s;
}
.way:hover{
    transform: translate(0.125rem,-0.9375rem);
}
.life{
    color: rgb(143, 142, 142);
    background-color: rgba(243, 235, 243, 0.842);
    display: inline-block;
    width: 17rem;
    height: 25rem;
    margin: 2rem;
     font-family: 'Lato', sans-serif;
     transition: all ease-out 0.3s;
}
.life:hover{
    transform: translate(0.125rem,-0.9375rem);
}
.text3{
    color: rgb(78, 72, 72); 
}
.sec3{
    position: relative;
    top: 15rem;
    height: 140vh;
    text-align: center;
    background-color: rgb(250, 250, 250);
    transform: skewY(-7deg);
    margin-top: -20rem;
}
.div-sea{
    background-image: linear-gradient(rgba(255, 86, 1, 0.493),rgba(218, 150, 5, 0.795)) , url(sea.jpg);
    width: 21rem;
    height: 15rem;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
}
.tour1{
    display: inline-block;
    margin: 2.5rem;
    
}
.front1{
    height: 35rem;
    width: 100%;
    background-color: white;
    box-shadow: 0.3125rem 0.3215px 1.5625rem grey;
    backface-visibility: hidden;
    transition: all 0.4s ease-out;
    }
    .card1:hover .front1{
        transform: rotateY(180deg);
    }
    .card1:hover .back1{
        transform: rotateY(360deg);
    }
    .back1{
        position: relative;
        top: -35.89rem;
        height: 34.8rem;
        width: 100%;
        transform: rotateY(180deg);
        background-image: linear-gradient(to right bottom,rgba(247, 134, 78),rgba(255, 86, 1));
        box-shadow: 0.3125rem 0.3215px 1.5625rem grey;
        backface-visibility: hidden;
        transition: all 0.4s ease-out;
        background-size: cover;
        color: white;
        font-family: 'Lato','sans-serif';
        font-size: 2.8rem;
    }
    .div-forest{
        background-image: linear-gradient(rgba(0, 204, 0, 0.5),rgba(0, 230, 0, 0.5)) , url(forest.jpg);
        width: 21rem;
        height: 15rem;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
    }
    .tour2{
        display: inline-block;
        margin: 2.5rem;
        
    }
    .front2{
        height: 35rem;
        width: 100%;
        background-color: white;
        box-shadow: 0.3125rem 0.3215px 1.5625rem grey;
        backface-visibility: hidden;
        transition: all 0.4s ease-out;
        }
        .card2:hover .front2{
            transform: rotateY(180deg);
        }
        .card2:hover .back2{
            transform: rotateY(360deg);
        }
        .back2{
            position: relative;
            top: -35.89rem;
        height: 34.8rem;
            width: 100%;
            transform: rotateY(180deg);
            background-image: linear-gradient(to right bottom,rgb(0, 204, 0),rgb(209, 253, 14));
            box-shadow: 0.3125rem 0.3215px 1.5625rem grey;
            backface-visibility: hidden;
            transition: all 0.4s ease-out;
            background-size: cover;
            font-size: 2.8rem;
            color: white;
        font-family: 'Lato','sans-serif';
        }
    .div-snow{
        background-image: linear-gradient(rgba(0, 0, 255, 0.23),rgba(0, 0, 204, 0.322)), url(snow.jpg);
        height: 15rem;
        width: 21.5rem;
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
    }
    .tour3{
        display: inline-block;
        margin: 2.5rem;
    }
    .front3{
        height: 35rem;
        width: 100%;
        background-color: white;
        box-shadow: 0.3125rem 0.3215px 1.5625rem grey;
        backface-visibility: hidden;
        transition: all 0.4s ease-out;
        }
        .card3:hover .front3{
            transform: rotateY(180deg);
        }
        .card3:hover .back3{
            transform: rotateY(360deg);
        }
        .back3{
            position: relative;
            top: -35.89rem;
        height: 34.8rem;
            width: 100%;
            transform: rotateY(180deg);
            background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
            box-shadow: 0.3125rem 0.3215px 1.5625rem grey;
            backface-visibility: hidden;
            transition: all 0.4s ease-out;
            background-size: cover;
            font-size: 2.8rem;
            color: white;
        font-family: 'Lato','sans-serif';
        }
    

.head2{
    background: linear-gradient(to right,#7ed56f , #55c57a, #28b485 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Lato', sans-serif;
    font-size: 2.4rem;
    transition: all 0.3s ease-out;
    width: 35%;
    position: relative;
    left: 29rem;
    letter-spacing: 0.2rem;
    cursor: default;
}
.head2:hover{
    transform: skew(10deg , 5deg);
    text-shadow: 1rem 1rem 2rem rgba(128, 128, 128, 0.5);
}
li{
    border-bottom: .03125rem rgba(155, 155, 155, 0.5) solid ;
    color:rgb(63, 60, 60) ;
    font-family: 'Lato', sans-serif;
    line-height: 2.5rem;
    width: 80%;  
}
.sea-btn{
color: black;
border: solid white 0.03215rem;
width: 7.5rem;
border-radius: 2rem;
background-color: white;
padding: 1rem;
position: relative;
left: 5.4rem;
font-size: 1.08rem;
top: 5rem;
}
.forest-btn{
    color: black;
    border: solid white 0.03215rem;
    width: 7.5rem;
    border-radius: 2rem;
    background-color: white;
    padding: 1rem;
    position: relative;
    left: 5.4rem;
    top: 5rem;
    font-size: 1.08rem;
}
.snow-btn{
    color: black;
    border: solid white 0.03215rem;
    width: 7.5rem;
    border-radius: 2rem;
    background-color: white;
    padding: 1rem;
    position: relative;
    left: 5.4rem;
    top: 5rem;
    font-size: 1.08rem;
}
.sn{
color: white;
font-family: 'Lato','sans-serif';
background-image: linear-gradient(rgba(58, 58, 209, 0.5),rgb(45, 45, 148));
font-size: 2rem;
height: 3rem;
width: 12rem;
position: relative;
left: 9rem;
top: -9rem;
}
.for{
    color: white;
    font-family: 'Lato','sans-serif';
    background-image: linear-gradient(rgba(0, 204, 0,0.5),rgb(0, 230, 0));
    font-size: 2rem;
    width: 13rem;
    height: 3rem;
    position: relative;
    left: 7rem;
    top: -9rem;
}
.se{
    color: white;
    font-family: 'Lato','sans-serif';
    background-image: linear-gradient(rgba(255, 85, 0, 0.5),rgb(255, 138, 80),rgba(255, 189, 91));
    font-size: 2rem;
    width: 8rem;
    height: 2.5rem;
    position: relative;
    left: 12rem;
    top: -9rem;
}
.exp{
    background-image: linear-gradient(rgba(255, 85, 0, 0.5),rgb(255, 138, 80),rgba(255, 189, 91));
    font-size: 2rem;
    position: relative;
    left: -3rem;
    top: 0.7rem;
    padding: 0.548rem;
}
.hiker{
    background-image: linear-gradient(rgba(0, 204, 0,0.5),rgb(0, 230, 0));
    font-size: 2rem;
    position: relative;
    left: 3rem;
    top: 0.7rem;
    padding: 0.548rem;
}
.advn{
    background-image: linear-gradient(rgba(58, 58, 209, 0.5),rgb(45, 45, 148));
    font-size: 2rem;
    position: relative;
    left: -2rem;
    top: 1rem;
    padding: 0.548rem;
}
.ul-sea{
    position: relative;
    top: -3rem;
}
.ul-for{
    position: relative;
    top: -3rem;
}
.ul-snow{
    position: relative;
    top: -3rem;
}
@media screen and (min-width: 300px) and (max-width: 420px) {
    html{
        font-size: 62.5%;
    }
 body{
     padding: 0;
 }
 .head1{
     height: 40rem;
 }
 .text11{
     font-size: 3rem;
 }
 .text12{
     font-size: 1rem;
 }
 .button{
     position: relative;
     left: 10rem;
 }
 .sec1{
     height: 50vh;
 }
 .text2{
     position: relative;
     left: -11rem;
     top: -3rem;
    font-size: 1.25rem;
 }
 .text21{
     position: relative;
     left: -3rem;
    font-size: 1rem;
 }
 .text22{
    position: relative;
    left: -3rem;
    font-size: 0.75rem;
    width: 13rem;
 }
 .learn{
     position: relative;
     left: -3rem;
 }
 .img{
     position: relative;
     left: -25rem;
     top: -15rem;
     width: 20rem;
 }
 .ph1{
     width: 8rem;
     height: 7rem;
     position: relative;
     left: 33rem;
     top: -5rem;
 }
 .ph2{
    width: 8rem;
    height: 7rem;
    position: relative;
     left: 45rem;
     top: -7rem;
}
.ph3{
    width: 8rem;
    height: 7rem;
    position: relative;
    left: 31rem;
    top: -15.7rem;
}
.sec2{
height: 100vh;
position: relative;
top: 3rem;
}
.resp{
    font-size: 0.5rem;
}
.world{
    position: relative;
    top: -6rem;
    margin: 0;
    display: inline-block;
}
.nature{
    position: relative;
    top: -6rem;
    margin: 0;
    display: inline-block;
}
.way{
    margin: 0;
}
.life{
    margin: 0;
}
.sec3{
    height: 300vh;
    position: relative;
    top: 20rem;
    left: 0.02rem;
}
.head2{
    font-size: 2rem;
    width: 30rem;
    position: relative;
    left: 3rem;
}
.tour1{
 margin: 0rem;
 position: relative;
 top: 6rem;
}
.tour2{
    margin: 0rem;
    position: relative;
    top: 20rem;
}
.tour3{
    margin: 0rem;
    position: relative;
    top: 35rem;
}
.png{
    height: 5rem;
    width: 5rem;
}
.front1{
    height: 35rem;
    width: 100%;
    background-color: white;
    box-shadow: 0.3125rem 0.3215px 1.5625rem grey;
    }
    .card1:hover .front1{
        transform: rotateY(0deg);
    }
    .card1:hover .back1{
        transform: rotateY(0deg);
    }
    .back1{
        position: relative;
        top: 1rem;
        transform: rotateY(0deg);
        height: 24.5rem;
        width: 100%;
        background-image: linear-gradient(to right bottom,rgba(247, 134, 78),rgba(255, 86, 1));
        box-shadow: 0.3125rem 0.3215px 1.5625rem grey;
        background-size: cover;
        color: white;
        font-family: 'Lato','sans-serif';
        font-size: 2.8rem;
    }
    .front2{
        height: 35rem;
        width: 100%;
        background-color: white;
        box-shadow: 0.3125rem 0.3215px 1.5625rem grey;
        }
        .card2:hover .front2{
            transform: rotateY(0deg);
        }
        .card2:hover .back2{
            transform: rotateY(0deg);
        }
        .back2{
            position: relative;
            top: 1rem;
            height: 24.5rem;
            width: 100%;
            transform: rotateY(0deg);
            background-image: linear-gradient(to right bottom,rgb(0, 204, 0),rgb(209, 253, 14));
            box-shadow: 0.3125rem 0.3215px 1.5625rem grey;
            background-size: cover;
            font-size: 2.8rem;
            color: white;
        font-family: 'Lato','sans-serif';
        }
        .front3{
            height: 35rem;
            width: 100%;
            background-color: white;
            box-shadow: 0.3125rem 0.3215px 1.5625rem grey;
            }
            .card3:hover .front3{
                transform: rotateY(0deg);
            }
            .card3:hover .back3{
                transform: rotateY(0deg);
            }
            .back3{
                position: relative;
                top: 1rem;
                height: 24.5rem;
                width: 100%;
                transform: rotateY(0deg);
                background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
                box-shadow: 0.3125rem 0.3215px 1.5625rem grey;
                background-size: cover;
                font-size: 2.8rem;
                color: white;
                font-family: 'Lato','sans-serif';
            }
            .snow-btn{
                position: relative;
                top: -0.1rem;
            }
            .forest-btn{
                position: relative;
                top: -0.1rem;
            }
            .sea-btn{
                position: relative;
                top: -0.1rem;
            }
}